.promo__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 58.09px;
  margin: 0 0 30px 0;
}

@media screen and (max-width: 580px) {
  .promo__title {
    font-size: 36px;
    line-height: 43.57px;
    margin-bottom: 15px;
  }
}
